<!DOCTYPE html>
<html>
    <head>
        <title>Bowling Website!</title>
    </head>
    <body>
        <h1>Lover's Lanes</h1>
        <h2>We be bowlin'</h2>
        <p>1234 Aphrodite Lane, Kansas City, WI 43290</p>
    </body>
</html>